<div class="grid ">
    <div class="row ml-3">
        <div class="col-sm-3 m-2">

            <form [formGroup]="AdditionForm" (ngSubmit)="onFormSubmit()">
                <h4><b>Addition Service</b></h4>
                <div class="form-group">
                    <label for="firstNumber">First Number: <br /></label>
                    <input class="form-control" type="text" formControlName="firstNumber">
                </div>
                <div class="form-group">
                    <label for="secondNumber">Second Number: <br /></label>
                    <input class="form-control" type="text" formControlName="secondNumber">
                </div>
                <span>{{result}}</span>
                <br>
                <button type="submit" class="btn btn-success" [disabled]="!AdditionForm.valid">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>
</div>