
<h3 class="p-4">All Addition Operations Performed</h3>

<div class="grid ">
    
  <div class="row ml-3">
      
    <div class="col-sm-3 m-2" *ngFor="let course of courses">
    <div class="card  " >
        <div class="card-body ">
            
              <h5 class="card-title">
              </h5>
            
                  
              <div class="card-text" [ngStyle]="{'color':getColor(course.likes)}">  
                 {{course.number1}} +  {{course.number2}} =  {{course.result}}
                </div>

          </div>

      
      </div>
      </div>
      
      <div class=" col-sm-3 m-2">
          <div class="card  " >
              <div class="card-body ">
            <h3>Perform Addition</h3>
            <form [formGroup]="courseForm" (ngSubmit)="onFormSubmit()" >
              <div class="form-group">
                <label for="name">First Number</label>
                <input  class="form-control" type="number" formControlName="number1">                          
              </div>
              
              
              <div class="form-group">
                <label for="faculty">Second Number</label>
                <input class="form-control" type="number" formControlName="number2">
              </div>
          
          
              <div class="form-group">
                 
                </div>

                <div  formGroupName="address" >
                <div class="form-group">
                   
                  </div>

                  <div class="form-group">
                      </div>
                  </div>
                
              <br>
              <button type="submit" class="btn btn-success" >Submit</button>
              
                
                
            </form>
          
          </div>
          </div>


    </div>
</div>


  
  
  
  