<div class="card-body border border-secondary ">
    <h3 class="p-4">Subtraction Service</h3>

    <form [formGroup]="numberForm" (ngSubmit)="onSubmit()">

            <label for="name"> First Number:</label><br>
        <input type="text" formControlName="firstNumber"><br>

        <label for="name"> Second Number:</label><br>
        <input type="text" formControlName="secondNumber"><br><br>

        <button class="btn btn-primary" type="submit">Submit</button> {{result}}

    </form>

</div>
